h1
{
    background-color: black; /* Le fond de la page sera noir */
    color: white; /* Le texte de la page sera blanc */
    text-align: center;
}
.partie1
{
    background-color:silver; /* Le fond de la page sera noir */
    color: black; /* Le texte de la page sera blanc */
    text-align: left;
    width: 33%;
    display: flex;
    align-items: center ;
}

#conteneur
{
    display: flex;
    justify-content: space-around;  
    flex-wrap: wrap;
}

#partie2
{
    background-color:silver; /* Le fond de la page sera noir */
    color: black; /* Le texte de la page sera blanc */
    text-align: left;
}
.image
{
    margin-left: 10px;
}
img{
    height: 20%;
    width: 20%;
}